@page "/"
@namespace RedisReader.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Redis Reader</title>
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/RedisReader.Server.styles.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/_content/Blazored.Modal/blazored-modal.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/_content/Blazor.ContextMenu/blazorContextMenu.min.css")" rel="stylesheet"/>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/plugins/fontawesome-free/css/all.min.css")">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/css/adminlte.min.css")">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="@Url.Content("~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css")">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Redis reader</title>
    <base href="/"/>
    <link href="@Url.Content("~/css/bootstrap/bootstrap.min.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet"/>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<component type="typeof(App)" render-mode="ServerPrerendered"/>

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
</div>
<script src="_framework/blazor.server.js"></script>

<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="@Url.Content("~/plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
<!-- overlayScrollbars -->
<script src="@Url.Content("~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js")"></script>
<!-- AdminLTE App -->
<script src="@Url.Content("~/js/adminlte.min.js")"></script>
<script src="@Url.Content("~/_content/Blazored.Modal/blazored.modal.js")"></script>
<script src="@Url.Content("~/_content/Blazor.ContextMenu/blazorContextMenu.min.js")"></script>
</body>

</html>