@page "/skeins"
@inject HttpClient Http

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">DataTable with minimal features & hover style</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <EditForm EditContext="@_editContext" OnSubmit="@OnSubmit">

                <table id="skeins" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Number</th>
                        <th>Count</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var skein in _skeins)
                    {
                        <tr>
                            <td>@skein.Number</td>
                            <td>@skein.Count</td>
                            <td></td>
                        </tr>
                    }
                        <tr>
                            <td><InputNumber @bind-Value="@_newSkein.Number" class="form-control"/></td>
                            <td><InputNumber @bind-Value="@_newSkein.Count" class="form-control" /></td>
                            <td><button type="submit" class="btn btn-success">Add</button></td>
                        </tr>
                    </tbody>

                </table>
                </EditForm>

            </div>
            <!-- /.card-body -->
        </div>
    <!-- /.card -->
    </div>
<!-- /.card-body -->
</div>


@code {
    private Skein[] _skeins;

    private Skein _newSkein;

    private EditContext _editContext;

    protected override async Task OnInitializedAsync()
    {
        _newSkein = new Skein
        {
            Count = 1,
            Number = 1
        };
        _editContext = new EditContext(_newSkein);
        
        _skeins = new[]
        {
            new Skein { Number = 111, Count = 3 },
            new Skein { Number = 112, Count = 7 },
            new Skein { Number = 113, Count = 8 },
            new Skein { Number = 114, Count = 3 },
        };
    //_forecasts = await WebRequestMethods.Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    public class Skein
    {
        private int _number;
        private int _count;
        
        public int Number
        {
            get => _number;
            set => _number = value < 1 ? 1 : value;
        }

        public int Count   {
            get => _count;
            set => _count = value < 1 ? 1 : value;
        }
    }

    private static void OnSubmit(EditContext obj)
    {
        
        throw new NotImplementedException();
    }

}